<%- include('includes/header') %>

    <!-- ======= Portfolio Details Section ======= -->

    <section id="portfolio-details" class="portfolio-details">
    </br>
    </br>
    </br>
    <!-- </br> -->
    <!-- </br> -->
      <div class="container">
        <div class="section-title">
          <h2>Projects</h2>
          <p>With these project i seek demostrate that i have used some technologies listed in my resume..</p>
        </div>

        <div class="portfolio-details-container">
          <div class="owl-carousel portfolio-details-carousel">
            <img src="<%- posts.imageUrl %>" class="img-fluid" alt="">
            <img src="<%- posts.imageUrl_1%>" class="img-fluid" alt="">
            <img src="<%- posts.imageUrl_2 %>" class="img-fluid" alt="">
          </div>

          <div class="portfolio-info">
            <h3><%= posts.title %></h3>
            <ul>
              <li><strong>Category</strong>: <%= posts.category %> </li>
              <li><strong>Frontend</strong>: <%= posts.frontend %></li>
              <li><strong>Backend</strong>: <%= posts.backend %></li>
              <li><strong>Scripting</strong>: <%= posts.language %></li>
              <li><strong>Github</strong>: <a href="<%= posts.github %>"><%= posts.github %></a></li>
              <li><strong>Demo</strong>: <a href="<%= posts.live %>"><%= posts.live %></a></li>
            </ul>
          </div>
          
        </div>

        <article >

          <div class="portfolio-description" >
            <h2><%= posts.subtitle %></h2>
            <p class="section-title" >
              <%- posts.content %>
            </p>
          </div>
        </article>

      </div>
    </section><!-- End Portfolio Details Section -->


<%- include('includes/footer') %>